.evaluated_text {
  text-align: justify;
  font-size: 1.3rem;
  background: RGBA(9, 2, 6, 0.5);
  height: 80%;
  padding: 1rem;
  color: white;
}

.message {
  text-align: center;
}

.error {
  color: red;
  font-size: 1.1rem;
}
