.keyboard_key {
  height: 45px;
  width: 6%;
  max-width: 60px;
  margin: 3px;
  border-radius: 4px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  font-weight: bold;
  font-size: 1.1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 0;
  position: relative;
}
@media (max-width: 1015px) {
  .keyboardKey {
    font-size: 0.7rem;
    width: 5%;
  }
}

.keyboard_key :hover :active .active {
  background: rgba(255, 255, 255, 0.62);
}

.wide {
  width: 13%;
  max-width: 98px;
}
@media (max-width: 1015px) {
  .wide {
    width: 10%;
  }
}

.xWide {
  width: 18%;
  max-width: 135px;
}
@media (max-width: 1015px) {
  .xWide {
    width: 14%;
  }
}

.xLWide {
  width: 23%;
  max-width: 170px;
}

@media (max-width: 1015px) {
  .xLWide {
    width: 18%;
  }
}

.space {
  width: 40%;
  max-width: 540px;
}

.latin {
  top: 3px;
  left: 3px;
  position: absolute;
  font-size: 0.8rem;
}
@media (max-width: 1015px) {
  .latin {
    font-size: 0.6rem;
  }
}

.activation::after {
  content: "";
  top: 10px;
  right: 10px;
  position: absolute;
  width: 7px;
  height: 7px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.activated::after {
  background: lightgreen;
}

.active {
  background: white;
}

.awaited {
  background: #3A454B;
  color: white;
  font-size: 1.4rem;
}

